*{
    padding: 0%;
    margin: 0%;
    border: 0%;
    box-sizing: border-box;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: white;

}
.home{
    background-color: rgb(0, 140, 255);
    height: 100vh;
    min-height: 400px;
    display: grid;

}
.home > .block{
    margin-top: 15vh;
    align-self: center;
}
.home > .block > h1{
    text-align: center;
    color: white;
    font-size: 300%;
    margin-left: 20px;
    margin-right: 20px;
}
.home > .block > h3{
    text-align: center;
    color: white;
    font-size: 150%;
    margin-left: 20px;
    margin-right: 20px;
}
.home > .block > h4{
    margin-top: 3%;
    text-align: center;
    color: white;
    font-size: 100%;
    margin-left: 20px;
    margin-right: 20px;
}
.barfull{
    justify-content: center;
    display: flex;
    position: fixed;
    width: 100%;
}
.navb{
    border-bottom-left-radius: 3vh;
    border-bottom-right-radius: 3vh;
    background-color: rgb(0, 140, 255);
    padding: 10px;
}
.navb > ul{
    justify-content: center;
    list-style: none;
    display: flex;
    font-size: 80%;
}
.navb > ul > li{
    margin:5px;
    text-decoration: none;
    color: white;
}
.navb > ul > li > a{
    padding:3px;
    height: auto;
    text-decoration: none;
    color: white;
}
.rsociais{
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rsociais > a{
    margin: 1%;
}
.rsociais > a > img{
    min-width: 25px;
    max-width: 25px;
    fill: white;
}
.sobre{
    height: 1500px;
    text-align: center;
}
.sobre > h1{
    padding-top: 50px;
    font-size: 270%;
    color: rgb(0, 140, 255);
}
.jobs{
    height: 1500px;
    text-align: center;
    background-color: rgb(0, 140, 255);
}
.jobs > h1{
    padding-top: 50px;
    font-size: 270%;
    color: rgb(255, 255, 255);
}
.contato{
    height: 1500px;
    text-align: center;
}
.contato > h1{
    padding-top: 50px;
    font-size: 270%;
    color: rgb(0, 140, 255);
}

